<div style="display: none">
    <span id="errorFieldRequiredMessage" class="errors-text"><%= __('validation.fieldRequired') %></span>
    <span id="errorNumberFieldMessage" class="errors-text"><%= __('validation.numberField') %></span>
    <span id="errorNegativeNumberCodeMessage" class="errors-text"><%= __('validation.negativeNumber') %></span>
    <span id="errorTextLengthRangeLastNameMessage"
          class="errors-text"><%= __('validation.textLengthRangeLastName') %></span>
    <span id="errorTextLengthRangePostCodeMessage"
          class="errors-text"><%= __('validation.textLengthRangePostCode') %></span>
    <span id="errorTextLengthRangePhoneInputMessage"
          class="errors-text"><%= __('validation.textLengthRangePhoneInput') %></span><span
            id="errorTextLengthRangeClientNickMessage"
            class="errors-text"><%= __('validation.textLengthRangeClientNick') %></span>
    <span id="errorTextLengthRangeGroupNameMessage"
            class="errors-text"><%= __('validation.textLengthRangeGroupName') %></span>
    <span id="errorTextLengthRangeDescriptionMessage"
            class="errors-text"><%= __('validation.textLengthRangeDescription') %></span>
    <span id="errorPhoneNumberMessage" class="errors-text"><%= __('validation.errorPhoneNumber') %></span>
    <span id="errorPostCodeMessage" class="errors-text"><%= __('validation.errorPostCode') %></span>
    <span id="errorPasswordMessage" class="errors-text"><%= __('validation.errorPassword') %></span>
    <span id="errorDirectorMessage" class="errors-text"><%= __('validation.errorDirector') %></span>
    <span id="errorFormatDateMessage" class="errors-text"><%= __('validation.errorFormatDate') %></span>
    <span id="errorFutureDateMessage" class="errors-text"><%= __('validation.errorFutureDate') %></span>
    <span id="errorSummaryFormMessage" class="errors-text"><%= __('validation.errorSummaryForm') %></span>
</div>